/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require ../semantic/semantic
*= require ../chosen/chosen.min
*= require ../jquery-ui/jquery-ui.min
*= require ../jquery-ui/jquery-ui.structure.min
*= require ../jquery-ui/jquery-ui.theme.min
*= require_self
*/
a.deleted {
    text-decoration: line-through;
    color: #666666;
}

#mainHeader {
    border-top: 0;
}

.menu .item {
    cursor: pointer;
}

.ui.form .field .ui.label,
.ui.wrap.label {
    white-space: normal;
}

.letterText blockquote {
    padding: 2px 0 2px 10px;
    border-left: 5px solid #ccc;
}

.richText {
    overflow: auto;
    max-height: 700px;
}

/* TODO Semantic UI bug. https://github.com/Semantic-Org/Semantic-UI/issues/3003 */
/* Remove if resolved */
.ui.items .item > .content {
    width: 100%;
}

/* TODO move to the Semantic UI build */
.dropdown.chosen-container a.chosen-single {
    border-radius: 0 !important;
    border-color: rgba(34, 36, 38, 0.15) !important;
    height: auto !important;
    background: none #fff !important;
}

.dropdown.chosen-container .chosen-drop {
    border-color: rgba(34, 36, 38, 0.15) !important;
}

.dropdown.chosen-container a  {
    padding-top: 0.4em !important;
    padding-bottom: 0.4em !important;
}

.dropdown.chosen-container-single .chosen-single div b {
    background-position: 0 7px !important;
}

.dropdown.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 7px !important;
}

.dropdown.chosen-container-single .chosen-single abbr {
    top: 11px !important;
}